/target
/target_sqlite
/target_linux
/dist
.idea/
storage/
storage_key/
storage_key_dev/
.run_config/
db/sqlite/db_test.sqlite3
db/sqlite/db_test.sqlite3-shm
db/sqlite/db_test.sqlite3-wal

# local env files
.env
sentc.env