[submodule "sdk-common"]
	path = sdk-common
	url = git@gitlab.com:sentclose/sentc/sdk-common.git
[submodule "rustgram-server-util"]
	path = rustgram-server-util
	url = git@gitlab.com:grammm/rustgram/rustgram-server-util.git
