# Server settings
SERVER_PORT=3002
SERVER_HOST=0.0.0.0

# DB config

# DB info Mariadb
DB_HOST=sentclose_db_1
DB_NAME=sentc
DB_USER=root
DB_PASS=12345
DB_PORT=

# Db info sqlite
DB_PATH=db/sqlite/db.sqlite3

# path for test db for integration tests by running server
#DB_PATH=db/sqlite/db_test.sqlite3

# path for test db for unit tests
DB_PATH_TEST=../../db/sqlite/db_test.sqlite3

# Caching config
#CACHE=1

# Redis info
#REDIS_URL=

# Storage config
#BACKEND_STORAGE=0
LOCAL_STORAGE_PATH=storage
#SERVER_STORAGE_ENABLED=0

# Key storage
#BACKEND_KEY_STORAGE=0
LOCAL_KEY_STORAGE=storage_key

###########

# Dashboard frontend
#LOCAL_FRONTED_DIR=dist

###########

# Sentc configs

ROOT_KEY=Nfc8+1ANqSfHviWDwFWs6PdADxK0mU+XiJ8g9wbQRic=

#CUSTOMER_REGISTER=1

# token for test env
SENTC_APP_DEMO_ID=ecae27fb-d849-467d-9c58-49fca0d8430a

# Server address config

PUBLIC_URL=http://127.0.0.1:3002
INTERNAL_URL=http://127.0.0.1:3002

# Email config

EMAIL_SERVER=
EMAIL_PORT=465
EMAIL_USER=
EMAIL_PW=
EMAIL_ADDRESS=

# the receiver address for the real email test
EMAIL_ADDRESS_TEST=